/* font import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
/* import end */

/* header style */
.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.text-center {
  text-align: center;
  margin: 8px 0;
}
/* Header Section style */
header {
  width: 100%;
  height: 620px;
  background-color: #2d25a0;
}
.header-title {
  color: #ffffff;
  font-size: 64px;
  font-weight: bold;
  line-height: 80px;
}
.watch-btn {
  width: 170px;
  height: 44px;
  padding: 12px 24px 0;
  font-size: 18px;
  background: #e02c6d;
  border: 2px solid #e02c6d;
  cursor: pointer;
  text-align: center;
}
.watch-btn > a {
  margin-top: 16px;
  font-weight: lighter;
  color: #ffffff;
  text-decoration: none;
  transition: 0.4s ease-in-out;
}
.banner-image > img {
  width: 556.01px;
  height: 438px;
  cursor: pointer;
  transition: 0.8s ease-in;
}
.banner-image > img:hover {
  transform: scale(0.5, 0.5);
}

/* player */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 27px;
  grid-column-gap: 30px;
}
.player {
  width: 330px;
  height: auto;
  box-shadow: 0px 10.34229px 20.3557px rgba(0, 0, 0, 0.05);
}
.player-img > img {
  width: 300px;
  height: 256px;
  padding: 15px;
}
.player-name {
  font-size: 28px;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 10px;
  padding: 0 15px;
}
.player-info {
  font-size: 16px;
  color: #6c6c6c;
  margin-top: 0;
  margin-bottom: 0;

  padding: 0 15px 33px;
}

/* yt-section */
/* yt-section start*/

.yt-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  margin-bottom: 100px;
  box-shadow: 1px 0px 54px -11px rgba(18, 15, 15, 0.87);
}
.yt-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
.text {
  text-align: center;
  padding: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* yt-section end*/

/* trophy-sec-start */

.info-table {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aqua;
  font-size: 1.7rem;
  margin: 25px 0 50px 0;
}
table {
  border: 1px solid lightgreen;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-img > img {
  width: 488px;
  height: 120px;
}
.social-icons {
  display: flex;
}

.icon > a {
  text-decoration: none;
  margin: 20px 15px 20px 0;
  color: #969bab;
  font-size: 25px;
}
.copyright > p {
  font-size: 14px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 65px;
}
/* footer end */

/* media query */
@media only screen and (max-width: 688px) {
  header {
    width: 100vw;
    height: 695px;
  }
  .container {
    flex-direction: column;
  }
  .header-title {
    font-size: 36px;
    line-height: 50px;
  }
  .banner-image > img {
    margin-top: 20px;
    width: 329px;
    height: 259.17px;
  }
  .wrapper {
    justify-content: center;
    align-items: center;
  }
  .players {
    grid-template-columns: repeat(1, 1fr);
  }
  footer {
    margin-top: 50px;
  }
  .footer-img > img {
    width: 275px;
    height: 70px;
  }
}
